@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@800&display=swap');

* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

#container {
    margin : 0 auto;
    width: 1200px;
}

header{
    width: 100%;
    height: 100px;
    background-color: #07c;
}


#logo{
    float: left;
    width: 250px;
    height: 100px;
    padding-left:50px;
    line-height: 100px;
}

#logo h1{
    font-family: 'Merienda', cursive;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    text-shadow: 0 -1px 0 #222;
}

nav{
    float: right;
    width: 900px;
    height: 100px;
    background-color: rgb(252, 255, 169);

}

#slideShow{ 
    width: 100%;
    height: 300px;
    background-color: rgb(165, 231, 179);
}

#contents{
    width: 100%;
    height: 300px;
}

#tabMenu{
    float : left;
    width: 600px;
    height: 100%;
    background-color: rgb(172, 238, 215);

}

#links{
    float: right;
    width: 600px;
    height: 100%;
    background-color: #b5b8f3;

}

footer {
    width: 100%;
    height: 100px;
    background-color: hsl(287, 100%, 95%);
}